<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Page</title>
    <link rel="stylesheet" href="styles/main_theme.css">
</head>
<body>
    <nav>
        <a href="/dbo">Database Overview</a>
        <a href="/">Home</a>
        <a href="/dbip">Database Interaction Portal</a>
    </nav>

    <!-- Game page will have similar format to user page -->
    <!-- Can probably set this page up in a way that we can render it from perspective of game for all and as game owned by user i.e. difference in the loading of achievements -->

    <script src="scripts/gamePage.html"></script>
</body>
</html>