<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Page</title>
    <link rel="stylesheet" href="styles/main_theme.css">
</head>
<body>
    <nav>
        <a href="/dbo">Database Overview</a>
        <a href="/">Home</a>
        <a href="/dbip">Database Interaction Portal</a>
    </nav>

    <main id="info-main">
        <!-- Display top section containing game information and achievements -->
        <div class="top-section">
            <section id="game-info-section">
                <h1>Game Overview</h1>
                <div id="game-info">
                    <p><strong>Title:</strong> <span id="title-field"></span></p>
                    <p><strong>Publishers:</strong> <span id="publishers-field"></span></p>
                    <p><strong>Genre(s):</strong> <span id="genre-field"></span></p>
                    <p><strong>Release Date:</strong> <span id="release-date-field"></span></p>
                    <p><strong>Price:</strong> <span id="price-field"></span></p>
                </div>
            </section>

            <section id="achievements-section">
                <h2>Achievements</h2>
                <div id="achievements-container">
                <!-- Achievements much like reviews -->
                </div>
            </section>
        </div>

        <!-- Display bottom section containing user's games and reviews left -->
        <div class="bottom-section">
            <section id="reviews-section">
                <h2>User Reviews</h2>
                <div id="reviews-container"></div>
            </section>
        </div>
    </main>

    <!--INSERT_SCRIPT-->
</body>
</html>